extends layout

block content
  h1= title
  form#formRemoveTodo(name="removetodo",method="post",action="/removetodo")
     fieldset
        input#inputPriority(type="text", placeholder="priority", name="priority")
        br
        br
        input#inputCategory(type="text", placeholder="category", name="category")
        br
        br
        input#inputDate(type="text", placeholder="date", name="date")
        br
        br
        input#inputDetails(type="text", placeholder="details", name="details")
        br
        br
        button#btnSubmit(type="submit") submit